.app {
    display: flex;
    padding: 24px 36px;
    justify-content: center;
    gap: 2rem;
}

.edit-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 25%;
    
}


@media screen and (max-width:1150px) {
    .app {
        flex-direction: column;
        padding: 24px;
    }

    .resume {
        height:1200px;
    }
    
    .resume-container {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        max-height: none;
        transform: scale(0.75);
        width: 100%;
        justify-content: center;
    }

    .edit-container {
        width: 100%;
        max-height: none;
    }
}

@media screen and (max-width:670px) {
    .resume-container {
        transform: scale(0.6);
    }
}

@media screen and (max-width:550px) {
    .resume-container {
        transform: scale(0.55);

    }
}

@media screen and (max-width:470px) {
    .resume-container {
        transform: scale(0.5);
    }
}
