.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 20px;
}

.save-btn,.cancel-btn {
    outline: none;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 1rem;
}

.save-btn {
    background-color: rgb(34, 165, 236);
    color: #fff;
    border: 1px solid;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.cancel-btn {
    background-color: #f3f3f3;
    border: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}