.experience-container {
    padding: 0 5rem 2.5rem 5rem;
}

.experience-head {
    background-color: #f3f3f3;
    text-align: center;
    padding: 5px 0;
}

.experience-head>h2 {
    color: rgb(14, 55, 78);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.exp-item {
    list-style: none;
    display: flex;
    gap: 30px;
}

.item-company {
    font-family: inherit;
    font-weight: bold;
}

.experience-items {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-desc {
    margin-top: 5px;
}