.bg-image {
    background-image: url('../../brandi-redd-aJTiW00qqtI-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}

.homepage-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    text-align: center;
    padding: 0 24px;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the last value for transparency (0 to 1) */
}

.homepage-title {
    color: #fff;
    font-size: 4rem;
}

.homepage-desc {
    color: #fff;
    font-family: 'Noto Sans';
    margin: 15px 0;
    font-size: 24px;
}

#homepage-btn {
    border: 3px solid transparent;
    outline: none;
    background-color: rgb(9, 104, 149);
    font-family: 'Roboto';
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    padding: 10px 35px;
    transition: all 0.1s;
    margin-top: 15px;

}

#homepage-btn:hover {
    transform: scale(1.05);

}

@media screen and (max-width:540px) {
    .homepage-title {
        font-size: 3.2rem;
    }

    .homepage-desc {
        font-size: 1.3rem;
    }

    #homepage-btn {
       font-size: 1.3rem;
    }
}

@media screen and (max-width:375px) {
    .homepage-title {
        font-size: 3rem;
    }

    .homepage-desc {
        font-size: 1rem;
    }

    #homepage-btn {
       font-size: 1rem;
    }
}